<div class="panel panel-default">
  <div class="panel-heading">
    <h5>{{comment.author}}</h5>
    <h6>{{comment.date}}</h6>
  </div>
  <div class="panel-body">
    <p>
      {{comment.body}}
    </p>
  </div>
  <div class="panel-footer">
    <button {{action 'delete' comment}} class="btn btn-danger">Remove Comment</button>
    <!-- <button {{action 'edit-comment'}} class="btn btn-danger">Remove Comment</button> -->
  </div>
</div>
