<div class="panel panel-default">
  <div class="panel panel-heading">
    <h1>Featured Blog</h1>
  </div>
  <div class="panel panel-body">
    <h2>{{blog.title}}</h2>
    <h3>{{blog.date}}</h3>
    <h3>By: {{blog.author}}</h3>
    <img src={{blog.image}} alt="stock photo">
    <p>
      {{blog.Body}}
    </p>
    <button {{action 'updateEntryForm' blog}} class="btn btn-primary">Edit</button>
    <button {{action 'delete' blog}} class="btn btn-danger">Delete</button>
  </div>
  <div class="panel panel-footer">
    {{#if blog.life}}
      <button type="button" name="button">Life</button>
    {{/if}}
    {{#if blog.career}}
      <button type="button" name="button">Career</button>
    {{/if}}
    {{#if blog.entertainment}}
      <button type="button" name="button">Entertainment</button>
    {{/if}}
    {{#if blog.hobbies}}
      <button type="button" name="button">Hobbies</button>
    {{/if}}
  </div>
</div>
